* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(185, 219, 248);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.search {
  position: relative;
}
.input {
  height: 50px;
  width: 50px;
  border: 0;
  transition: width 0.3s ease;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}
.btn {
  padding: 15px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.input:focus,
.btn:focus {
  outline: none;
}
.search.active .input {
  width: 200px;
}
.search.active .btn {
  transform: translateX(198px);
}
